<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>f1nd3r</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}"/>
    <link rel="icon" type="image/png" href="{{ url_for('static', path='/favicon.ico') }}"/>
</head>

<body>
    <header>
        <h2 align="center" class="brand-name">f1nd3r</h2>
    </header>

    <div id="audio" hidden>{{ url_for('static', path='/done-beep.wav') }}</div>

    <div class="container">
        <div class="choose-container">
            <img class = "logo"  src = "{{ url_for('static', path='/logo.png') }}" alt="Logo"/>
            <p class="info-line" align="center">
            f1nd3r checks .exe files for potential malware. <br>
            Please upload an executable using the upload button.
            </p>
            <button onclick="uploadFile()" class="upload" id="upload">Upload</button>
        </div>

        <div class="vertical-line"></div>
    
        <div class="res-container">
            <input id="input" type="file" accept=".exe" hidden>

            <img id = "illustration" class="illustration" src="{{ url_for('static', path='/main-vector.svg') }}" alt="illustration" />

            <div id = "res" class="res-container">
                <div class="file-ic-container">
                    <img class = "file-ic" src="{{ url_for('static', path='/ic_file.svg') }}" alt="file">
                    <h3 id="chosen-file"></h3>
                </div>
                <div id = "loader" class="loader"></div>
                <h2 id="result"></h2>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', path='/index.js') }}"></script>
    
</body>
</html>
